:root {
    --light: white;
    --headings: white;
    --tint: #FBFF1F;
    --tint-hover: #d2d519;
    --secondary: #4ECDC4;
    --text: #c1ced3;
    --background: #081721;
    --background-button: rgba(8, 23, 33, 0.57);
    --foreground: #1a4f70;
    --heading-font: 'Syncopate', sans-serif;
    --gradient-opacity: 1;
}


:root {
    --font-mono: "Roboto Mono", monospace;
    --transition: all 50ms ease;
}

html, body, #__next {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: var(--text);
    line-height: 1.8;
}

a {
    color: var(--secondary);
    transition: var(--transition);
}

a svg {
    width: 3rem !important;
}

a:hover {
    color: var(--tint);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
    font-family: var(--heading-font);
}

h2 {
    font-size: 1.2rem;
}