:root {
    --light: white;
    --headings: white;
    --tint: #FBFF1F;
    --tint-hover: #d2d519;
    --secondary: #4ECDC4;
    --text: #c1ced3;
    --background: #081721;
    --background-button: rgba(8, 23, 33, 0.57);
    /*--foreground: #1a4f70;*/
    --foreground: rgba(255,255,255,0.1);
    --foreground: rgba(65, 199, 192, 0.34);
    --gradient-opacity: 1;
}

/*:root {*/
/*    --light: white;*/
/*    --headings: white;*/
/*    --tint: #1FF8FF;*/
/*    --tint-hover: #19b6bb;*/
/*    --secondary: #1FF8FF;*/
/*    --secondary-hover: #19b6bb;*/
/*    --text: #c1ced3;*/
/*    --background: #010205;*/
/*    !*--background: #020C1A;*!*/
/*    --background-button: rgba(0,0,0,0.3);*/
/*    --foreground: rgba(255,255,255,0.05);*/
/*    --heading-font: 'Syncopate', sans-serif;*/
/*    --gradient-opacity: 1;*/
/*}*/


:root {
    --font-mono: "Roboto Mono", monospace;
    --transition: all 50ms ease;
}

html, body, #__next {
    height: 100%;
}

body {
    color: #c7c7c7;
    color: var(--text);
    line-height: 1.8;
}

a {
    color: var(--secondary);
    transition: var(--transition);
}

a:hover {
    color: var(--tint);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}

h2 {
    font-size: 1.2rem;
}